@font-face {
  font-family: 'icon';  /* project id 174169 */
  font-display: 'swap';
  src: url('https://at.alicdn.com/t/font_174169_qmgvd10zwbf.eot');
  src: url('https://at.alicdn.com/t/font_174169_qmgvd10zwbf.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_174169_qmgvd10zwbf.woff') format('woff'),
  url('https://at.alicdn.com/t/font_174169_qmgvd10zwbf.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_174169_qmgvd10zwbf.svg#iconfont') format('svg');
}

.icon {
  font-family: 'icon' !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

.icon-facebook::before { content: "\e600"; }

.icon-close::before { content: "\e646"; }

.icon-reddit::before { content: "\ebcf"; }

.icon-stackoverflow::before { content: "\e85a"; }

// TODO: add new font for stackexchange
.icon-stackexchange::before { content: "\e85a"; }

.icon-twitter::before { content: "\e89d"; }

.icon-comment::before { content: "\e66f"; }

.icon-menu::before { content: "\e692"; }

.icon-jsfiddle::before { content: "\e753"; }

.icon-weibo::before { content: "\e892"; }

.icon-wechat::before { content: "\e628"; }

.icon-dribbble::before { content: "\e696"; }

.icon-rss::before { content: "\e6ee"; }

.icon-github::before { content: "\e629"; }

.icon-up::before { content: "\e734"; }

.icon-behance::before { content: "\e601"; }

.icon-douban::before { content: "\e613"; }

.icon-quora::before { content: "\e61b"; }

.icon-email::before { content: "\e664"; }

.icon-bilibili::before { content: "\e64e"; }

.icon-codepen::before { content: "\e9eb"; }

.icon-pinterest::before { content: "\e60a"; }

.icon-codesandbox::before { content: "\e87e"; }

.icon-google::before { content: "\e886"; }

.icon-zhihu::before { content: "\e88b"; }

.icon-instagram::before { content: "\e88f"; }

.icon-linkedin::before { content: "\f1e7"; }

.icon-medium::before { content: "\f1ef"; }

.icon-npm::before { content: "\f1fe"; }

.icon-vimeo::before { content: "\f25a"; }

.icon-youtube::before { content: "\f274"; }
