{{ define "title" }}
  {{ .Title }} |
  {{ if isset .Site.Params "seotitle" }}
    {{ .Site.Params.seotitle }}
  {{ else }}
    {{ .Site.Title }}
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main">
    <header class="offscreen">
      <h2>{{ .Title }}</h2>
    </header>
    <div class="publications">
    <h1>Publications</h1>


    {{ if (isset $.Site.Data.publications "papers") }}
    <h3>Papers</h3>
    {{ range $.Site.Data.publications.papers.list }}
      <div class="meta">
        <div class="upper-row">
          <h4 class="job-title">{{ .title }}</h4>
          <div class="year"><a class="menu-item" href="{{ .pdf }}"> PDF </a> | <a class="menu-item" href="{{ .bib }}"> BIB </a></div>
        </div>
        <em> {{ .author }}, {{ .description }}. </em>
      </div>
    {{ end }}
    {{ end }}

    {{ if (isset $.Site.Data.publications "presentations") }}
    <h3>Presentations</h3>
    {{ range $.Site.Data.publications.presentations.list }}
      <div class="meta">
        <div class="upper-row">
          <h4 class="job-title">{{ .title }}</h4>
          <div class="year"><a class="menu-item" href="{{ .pdf }}"> PDF </a></div>
        </div>
        {{ .date }} | <em> {{ .summary }} </em>
      </div>
    {{ end }}
    {{ end }}
    </div>
  </section>
  {{ partial "footer.html" . }}
{{ end }}
